.root-layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
  }
  

  
.main-content.light-mode {
  background-color: #f9f9f9; 
}

.main-content.dark-mode {
  background-color: #121212;
}